.header1 {
    text-align: center;
}
.main {
    background-color: pink;
    width: 700px;
    height: 500px;
    margin:auto;
    border: 1px solid pink;
    border-radius: 20px;
}
.container {
    background-color:white;
    width:100px;
    height: 400px;
    /* position:absolute; */
    border :1px solid white;
    border-radius: 20px;
}