
h1.header {
    text-align:center;
}
div.main {
    background-color: pink;
    border: 1px solid pink;
    border-radius: 20px;
    display:flex;
}
div.main2 {
    background-color:white;
    padding: 20px 20px 20px 20px;
}